<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <h1> Bienvenue</h1>
    <p> Les potins arrive bientot en attendant, tu peut aller créer un nouveau potin <a href="/gossips/new/">ICI</a></p>

  </body>
</html>